.HomePage {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.HomePage .HomeSection {
  height: 4584px;
  position: relative;
  width: 1728px;
}
.HomePage .Welcome {
  background-position: 50% 50%;
  background-size: cover;
  height: 541px;
  left: 2px;
  position: absolute;
  top: 70px;
  width: 1726px;
}
.HomePage .p {
  color: #081b46;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 443px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 230px;
  white-space: nowrap;
}
.HomePage .TourText {
  color: #de9e5b;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 599px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 270px;
  white-space: nowrap;
}
.HomePage .BtnOrder {
  border: 3px solid;
  border-color: #081b46;
  background-color: transparent;
  height: 65px;
  left: 725px;
  position: absolute;
  top: 350px;
  width: 186px;
}
.HomePage .PressOrder {
  color: #081b46;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 24px;
  left: 38px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  white-space: nowrap;
}
.HomePage .AboutImg {
  border-radius: 20px;
  height: 529px;
  left: 835px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 748px;
  width: 852px;
}
.HomePage .Why {
  color: #de9e5b;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 93px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 844px;
}
.HomePage .AboutUs {
  color: #081b46;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 600;
  left: 93px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 887px;
  white-space: nowrap;
}
.HomePage .Popular {
  color: #081b46;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 600;
  left: 93px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2258px;
  white-space: nowrap;
}
.HomePage .Channel {
  color: #081b46;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 600;
  left: 93px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3287px;
  white-space: nowrap;
}
.HomePage .AboutUsText {
  color: #B9B4C7;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 124px;
  left: 93px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 986px;
  width: 626px;
}
.HomePage .AboutButton {
  border: 3px solid;
  border-color: #081b46;
  background-color: transparent;
  height: 65px;
  left: 93px;
  position: absolute;
  top: 1152px;
  width: 186px;
}
.HomePage .More {
  color: #081b46;
  border-color: #081b46;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 24px;
  left: 18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
  white-space: nowrap;
}
.HomePage .VectorImg {
  height: 16px;
  left: 144px;
  position: absolute;
  top: 25px;
  width: 22px;
}
.HomePage .ArrowSVG {
  height: 25px;
  left: 0;
  position: absolute;
  top: -7px;
  width: 100%;
}
.HomePage .AboutVN {
  border: 3px solid;
  border-color: #081b46;
  background-color: transparent;
  height: 65px;
  left: 91px;
  position: absolute;
  top: 4191px;
  width: 186px;
}
.HomePage .AboutSinga {
  border: 3px solid;
  border-color: #081b46;
  background-color: transparent;
  height: 65px;
  left: 1064px;
  position: absolute;
  top: 4191px;
  width: 186px;
}
.HomePage .AbilitySection {
  background-position: 50% 50%;
  background-size: cover;
  height: 784px;
  left: 0;
  position: absolute;
  top: 660px;
  width: 1728px;
}
.HomePage .Ability {
  color: #de9e5b;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 93px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 900px;
}
.HomePage .Advantage {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 600;
  left: 93px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 930px;
  white-space: nowrap;
}
.HomePage .AbilityText {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 60px;
  left: 93px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 990px;
  width: 626px;
}
.HomePage .Amount {
  color: #de9e5b;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 93px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2202px;
}
.HomePage .New {
  color: #de9e5b;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 93px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3231px;
}
.HomePage .HotelVN {
  color: #081b46;
  font-family: "Inter", Helvetica;
  font-size: 36px;
  font-weight: 700;
  left: 93px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3915px;
}
.HomePage .SpaSingapore {
  color: #081b46;
  font-family: "Inter", Helvetica;
  font-size: 36px;
  font-weight: 700;
  left: 1068px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3915px;
}
.HomePage .DateVN {
  color: #b9b4c7;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 93px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3986px;
}
.HomePage .DateSingapore {
  color: #b9b4c7;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 1070px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3986px;
}
.HomePage .TextVN {
  color: #b9b4c7;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 91px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 4042px;
  width: 582px;
}
.HomePage .TextSingapore {
  color: #b9b4c7;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 1068px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 4042px;
  width: 620px;
}
.HomePage .InContry {
  color: #de9e5b;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 93px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2333px;
}
.HomePage .OutContry {
  color: #de9e5b;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 93px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2782px;
}
.HomePage .InContry1 {
  height: 316px;
  left: 93px;
  position: absolute;
  top: 2390px;
  width: 443px;
}
.HomePage .TpHCM {
  background-position: 50% 50%;
  border-radius: 20px;
  background-size: cover;
  height: 316px;
  position: relative;
  width: 441px;
}
.HomePage .TpHCMText {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 36px;
  font-weight: 700;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 227px;
}
.HomePage .OutContry1 {
  height: 316px;
  left: 93px;
  position: absolute;
  top: 2839px;
  width: 443px;
}
.HomePage .NewYork {
  background-position: 50% 50%;
  border-radius: 20px;
  background-size: cover;
  height: 316px;
  position: relative;
  width: 441px;
}
.HomePage .NewYorkText {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 36px;
  font-weight: 700;
  left: 136px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 237px;
}
.HomePage .OutContry2 {
  height: 316px;
  left: 651px;
  position: absolute;
  top: 2839px;
  width: 443px;
}
.HomePage .Singapore {
  border-radius: 20px;
  background-position: 50% 50%;
  background-size: cover;
  height: 316px;
  position: relative;
  width: 441px;
}
.HomePage .SingaporeText {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 36px;
  font-weight: 700;
  left: 145px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 237px;
}
.HomePage .OutContry3 {
  height: 316px;
  left: 1209px;
  position: absolute;
  top: 2839px;
  width: 443px;
}
.HomePage .Malay {
  border-radius: 20px;
  background-position: 50% 50%;
  background-size: cover;
  height: 316px;
  position: relative;
  width: 441px;
}
.HomePage .MalayText {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 36px;
  font-weight: 700;
  left: 146px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 237px;
}
.HomePage .InContry2 {
  height: 316px;
  left: 651px;
  position: absolute;
  top: 2390px;
  width: 443px;
}
.HomePage .HaNoi {
  border-radius: 20px;
  background-position: 50% 50%;
  background-size: cover;
  height: 316px;
  position: relative;
  width: 441px;
}
.HomePage .HaNoiText {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 36px;
  font-weight: 700;
  left: 163px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 227px;
}
.HomePage .InContry3 {
  height: 316px;
  left: 1209px;
  position: absolute;
  top: 2390px;
  width: 443px;
}
.HomePage .Hue {
  border-radius: 20px;
  background-position: 50% 50%;
  background-size: cover;
  height: 316px;
  position: relative;
  width: 441px;
}
.HomePage .HueText {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 36px;
  font-weight: 700;
  left: 185px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 227px;
}
.HomePage .HotelImage {
  height: 469px;
  border-radius: 20px;
  left: 93px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 3399px;
  width: 582px;
}
.HomePage .SpaImage {
  height: 469px;
  border-radius: 20px;
  left: 1068px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 3399px;
  width: 582px;
}
.HomePage .footer {
  background-image: url(https://cdn.animaapp.com/projects/650e59cf2e4e252d8d5cdce3/releases/650e5a0ab34031947f682b09/img/rectangle-11.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 293px;
  left: 0;
  position: absolute;
  top: 4291px;
  width: 1728px;
}
.HomePage .logo {
  height: 77px;
  left: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 29px;
  width: 244px;
}
.HomePage .navbar {
  left: 484px !important;
  position: absolute !important;
  top: 55px !important;
}/*# sourceMappingURL=home.css.map */