:root{
    --PrimaryColor: hsl(199,100%,33%);
    --SecondaryColor: hsl(187,85%,43%);
    --gradientColor: linear-gradient(to-right,hsl(0, 0%, 0%),hsl(0, 0%, 0%));
    --whiteColor: hsl(0,0%,100%);
    --blackColor: hsl(201,33%,16%);
    --textColor: hsl(240,4%,36%);
    --whiteColorDeam: hsl(0,0%,93%);
    --greyText: rgb(190,190,190);
    --inputColor: rgb(239,239,239);
    --bodyColor: rgb(240,240,240);
    --cardBG: rgb(255,255,255);
}

.Booking{
    position: relative;
    text-align: center;
    color: white;
    
    .smallText{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        color: #000000;
        font-weight: bold;
    }

    .tour{
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        color: #DE9E5B;
    }
    .btnBook{
        position: absolute;
        top: 63%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: .6rem 1.5rem;
        background: var(--gradientColor);
        border-radius: 3rem;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        border-radius: 0%;
        border: 2px solid #000000;
        color:black;
        .btnColor{
            color:black;
        }
    }
}

.About{
    position: relative;
    text-align: center;
    color: white;
        .Why{
            position: absolute;
            top: 150px;
            left: 20%;
            transform: translate(-50%, -50%);
            font-size: 24px;
            color: #DE9E5B;
        }
        .About{
            position: absolute;
            top: 200px;
            left: 20%;
            transform: translate(-50%, -50%);
            font-size: 40px;
            color:black;
        }
        .AboutUs{
            top: 240px;
            left: 29%;
            transform: translate(-50%, -50%);
            position: absolute;
            margin-top: 60px;
            margin-right: 100px;
            width: 30%;
            font-size: 20px;
            color:black;
            font-weight: bold;
            text-align: left;
        }
        .imgAbout{
            position: absolute;
            float: right;
            max-width: 500px;
            margin-left: 200px;
            margin-top: 100px;
        }
        .btnMore{
            position: absolute;
            top: 408px;
            left: 18%;
            transform: translate(-50%, -50%);
            padding: .6rem 1.5rem;
            background: var(--gradientColor);
            border-radius: 3rem;
            cursor: pointer;
            font-size: 20px;
            font-weight: bold;
            border-radius: 0%;
            border: 2px solid #000000;
            color:black;
        .btnColor{
            color:black;
         }
    }
}

.Ability{
    position: relative;
    .AboutAbility{
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        color: #DE9E5B;
        font-weight: bold;
    }
    .Advantage{
        position: absolute;
        top: 53%;
        left: 14%;
        transform: translate(-44%, -50%);
        font-size: 24px;
        color: white;
        font-weight: bold;
    }
    .Text{
        position: absolute;
        top: 57%;
        left: 26%;
        width: 32%;
        transform: translate(-44%, -50%);
        font-size: 20px;
        color: white;
        font-weight: bold;
    }
    .imgAbility{
        margin-top: 500px;
    }
}

.ImageSide{
    .Path{
        margin-top: 25px;
        margin-left: 50px;
        font-size: 24px;
        color:#DE9E5B;
    }
    .Popular{
        margin-left: 50px;
        margin-top: 15px;
        font-size: 40px;
        font-weight: bold;
    }
    .inVietNam{
        margin-left: 50px;
        margin-top: 15px;
        font-size: 24px;
        color:#DE9E5B;
    }
    .imgSide1{
        margin-left: 50px;
        margin-top: 15px;
        width: 25%;
    }
    .imgSides{
        float:left;
        max-width: 33%;
        padding: 50px;
    }
    .SidebySide::after{
        content: "";
        display: table;
        clear: both;
    }
    .VN1{
        .TextVN1{
            position: absolute;
            margin-top: 300px;
            margin-left: 176px;
            color:white;
        }
    }
}