.navbar {
    height: 24px;
    position: relative;
    width: 761px;
    
        .About {
            color: #081b46;
            font-family: "Inter", Helvetica;
            font-size: 20px;
            font-weight: 600;
            left: 170px;
            letter-spacing: 0;
            line-height: normal;
            position: absolute;
            top: -1px;
            white-space: nowrap;
            width: 93px;
        }
        .Tour {
            color: #081b46;
            font-family: "Inter", Helvetica;
            font-size: 20px;
            font-weight: 600;
            left: 336px;
            letter-spacing: 0;
            line-height: normal;
            position: absolute;
            top: -1px;
            white-space: nowrap;
            width: 93px;
        }
        .Price {
            color: #081b46;
            font-family: "Inter", Helvetica;
            font-size: 20px;
            font-weight: 600;
            left: 502px;
            letter-spacing: 0;
            line-height: normal;
            position: absolute;
            top: -1px;
            white-space: nowrap;
            width: 93px;
        }
          .Order {
            color: #081b46;
            font-family: "Inter", Helvetica;
            font-size: 20px;
            font-weight: 600;
            left: 668px;
            letter-spacing: 0;
            line-height: normal;
            position: absolute;
            top: -1px;
            white-space: nowrap;
            width: 93px;
        }
        .Home {
            color: #081b46;
            font-family: "Inter", Helvetica;
            font-size: 20px;
            font-weight: 600;
            left: 0;
            letter-spacing: 0;
            line-height: normal;
            position: absolute;
            top: -1px;
            white-space: nowrap;
        }
        .ContactButton {
            background-color: #081b46;
            border-radius: 10px;
            height: 61px;
            left: 800px;
            position: absolute;
            top: -16px;
            width: 209px;
        }
        .Contact {
            color: #ffffff;
            font-family: "Inter", Helvetica;
            font-size: 20px;
            font-weight: 600;
            left: 23px;
            letter-spacing: 0;
            line-height: normal;
            position: absolute;
            top: 17px;
            white-space: nowrap;
          }
          .text-wrapper-6 {
            color: #081b46;
            font-family: "Inter", Helvetica;
            font-size: 20px;
            font-weight: 600;
            left: 1150px;
            letter-spacing: 0;
            line-height: normal;
            position: absolute;
            top: -1px;
            white-space: nowrap;
          }
          .mdi-account {
            height: 59px;
            left: 1065px;
            position: absolute;
            top: -16px;
            width: 59px;
          }
          .Language {
            height: 10px;
            left: 1193px;
            position: absolute;
            top: 7px;
            width: 16px;
          }
}